<p>
  certification works!
</p>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Aktywny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of certyficate" (click)="onEdit(item)">
      <td>{{ item.id }}</td>
      <td>{{ item.name }} </td>
      <td>
        <input type="checkbox" [(ngModel)]="item.active" disabled>
      </td>
    </tr>
  </tbody>
</table>




<table class="table table-bordered table-striped" *ngIf="areas">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Schemat</th>
        <th>Opis</th>
        <th>Data od</th>
        <th>Data do</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of areas">
        <td>{{ item.AreaID }}</td>
        <td>{{ item.Name }} </td>
        <td>{{ item.Schema }} </td>
        <td>{{ item.Description }} </td>
        <td>{{ item.DateFrom }} </td>
        <td>{{ item.DateTo }} </td>
      </tr>
    </tbody>
  </table>



<form>
  <div class="row">
    <div class="col-md-2">
      <label>Id</label>
      <div>
        <input class="form-control" type="number" [(ngModel)]="editItem.id" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="col-md-4">
      <label>Nazwa</label>
      <div>
        <input class="form-control" type="text" [(ngModel)]="editItem.name" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="col-md-2">
      <label>Aktywny</label>
      <div>
        <input class="form-control" type="checkbox" [(ngModel)]="editItem.active" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
</form>