body {
  background: red;
}

.data-header {
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700px;
  margin: 15px;
}

.data-container {
  padding: 15px;
  background: white;
  margin: 15px;
}
