.cs-table {
  th {
    font-weight: 700px;
    text-transform: uppercase;
    color: blue;
    background: rgb(28, 199, 119);
  }
  td {
    background: rgb(224, 250, 231);
  }
  .row-error {
    border-left: 2px solid red;
  }
}
